In [1]:
import pandas as pd

In [25]:
df = pd.read_csv('~/Downloads/train.csv')

In [19]:
(df['Age']<18).sum()

113

In [16]:
df[['Name']].loc[df['Age']<18].count()[0]

113

In [13]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [34]:
nchild=(df['Age']<18).sum()
nchild_s=df[['Name']].loc[(df['Age']<18)&(df['Survived']==1)].count()[0]